body {
  background-color: #101010;
  color: #FFFFFF;
  font-family: sans-serif;
}

#inventory {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 50%;
  padding: 20px;
  background-color: #202020;
}

item-box {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 10%;
}

#stats {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 50%;
  padding: 20px;
  background-color: #202020;
}
